
<app-header></app-header>
<div class="content" role="main">

<body>
  <div id="page-container">
    <div id="content-wrap">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
 </body>

<!-- Para usar de referência
 <h2>Next Steps</h2>
 <p>What do you want to do next with your app?</p>

 <input type="hidden" #selection>

 <div class="card-container">
   <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
       <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

     <span>New Component</span>
   </div>

 </div>


 <div class="terminal" [ngSwitch]="selection.value">
     <pre *ngSwitchDefault>ng generate component xyz</pre>
 </div>


 <div class="card-container">
   <a class="circle-link" title="Join the Conversation on Gitter" href="https://gitter.im/angular/angular" target="_blank" rel="noopener">
     <svg alt="Gitter Logo" xmlns="http://www.w3.org/2000/svg" width="19.447" height="19.447" viewBox="0 0 19.447 19.447">
       <g id="Group_40" data-name="Group 40" transform="translate(-1612 -405)">
         <rect id="Rectangle_19" data-name="Rectangle 19" width="19.447" height="19.447" transform="translate(1612 405)" fill="#e60257"/>
         <g id="gitter" transform="translate(1617.795 408.636)">
           <g id="Group_33" data-name="Group 33" transform="translate(0 0)">
             <rect id="Rectangle_15" data-name="Rectangle 15" width="1.04" height="9.601" transform="translate(2.304 2.324)" fill="#fff"/>
             <rect id="Rectangle_16" data-name="Rectangle 16" width="1.04" height="9.601" transform="translate(4.607 2.324)" fill="#fff"/>
             <rect id="Rectangle_17" data-name="Rectangle 17" width="1.04" height="4.648" transform="translate(6.91 2.324)" fill="#fff"/>
             <rect id="Rectangle_18" data-name="Rectangle 18" width="1.04" height="6.971" transform="translate(0 0)" fill="#fff"/>
           </g>
         </g>
       </g>
     </svg>
   </a>
 </div>
 -->
